@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.title {
    grid-column-start: 1;
    grid-column-end: -1;

    font-size: 20px;
    line-height: 160%;
    color: $color-dark-grey;

    margin-top: 40px; 

    @include tablet {
        margin-top: 25px;
    }
}

.text-medium {
    font-weight: 500;
    font-size: 14px;
    line-height: 115%;
}