.button {
    height: 45px;

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;

    border-radius: 10px;

    color: white;
    background: #D6073D;
    border-radius: $color-popso;

    
}