.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;

    width: 25px;
    height: 25px;

    flex-shrink: 0;
    flex-grow: 0;

    border: 1px solid $color-light-gray;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.custom-checkbox:checked+label::before {
    background-image: url("../../src/img/icon/check-mark.svg");
    background-size: 75%;
    color: $color-green;
}

.custom-checkbox:checked+label{
  color: $color-green;
}